node_modules
# Keep environment variables out of version control
.env

/src/generated/prisma
audio/*
!audio/.gitkeep

!audio/alloy.mp3
!audio/echo.mp3
!audio/shimmer.mp3
!audio/onyx.mp3
!audio/nova.mp3
!audio/fable.mp3
